@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 720px;
    background-color: #dfe3ee;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Indie Flower', cursive;
}

#list{
    display: flex;
    flex-direction: column;
}

#task-form{
    margin-bottom: 5vh;
}


#task-input{
    background-color: aliceblue;
    padding: 5pt;
    border-radius: 5%;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

#send-button{
    border-radius: 10%;
    cursor: pointer;
    padding: 5pt;
    background-color: #8b9dc3;
    color: white;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    margin-left: 0.5vw;
}

#send-button:hover{
    padding: 8px;
    font-weight: bold;
    transition: 0.3s;
    transform: rotate(5deg);
}

.task-item{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
  }